/***********************FOOTER*******************************/
footer {
  background-color: $color3;
  height: 65px;
}
footer section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-izquierdo {
  width: 50%;

  align-items: center;
}
.footer-derecho {
  width: 50%;
  padding-top: 13px;
  align-items: center;
}
footer ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
footer ul a {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  display: block;
}
footer ul a:hover {
  background-color: #f1dab1;
  color: black;
  font-weight: bold;
}
