/***********************HERO (CATALOGO)*******************************/
.hero {
  div #cabecera {
    background-color: #f04f56;
    font-family: "Akaya Telivigala", cursive;
    color: white;
    font-size: 500px;
  }
  font-size: 15px;
  background-color: #f9c5c7;
  .card {
    border-radius: 10px;
    a {
      border: 2px white solid;
      color: white;
    }
    &:hover {
      transform: scale(1.05, 1.05);
    }
    .card-body {
      background-color: #f04f56;
      color: white;
    }
  }
}
