/***********************MAIN-INDEX*******************************/
.main-index {
  background-color: $color2;
  align-items: center;
  .contenido {
    margin-top: 12%;
    h1 {
      margin-left: 50px;
      font-size: 40px;
      line-height: 60px;
      color: $color3;
      width: 50%;
      .titulo {
        color: white;
        font-size: 3.5rem;
      }
    }
    p {
      color: $color3;
      font-size: 22px;
      line-height: 30px;
      width: 100%;
      text-align: justify;
      justify-content: center;
    }
  }
  .boton .btn {
    @include btn-nosotras(absolute, 17%, 10%, 20px);
  }
  .btn {
    border: $color3 2px solid;
    border-radius: 50px;
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #4d3e2b;
    letter-spacing: 4px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    &:hover {
      background-color: #f9c5c7;
      box-shadow: 0 0 10px #f9c5c7, 0 0 40px #f9c5c7, 0 0 80px #f9c5c7;
      transition-delay: 0.5s;
    }
  }
}

/***********************MAIN-NOSOTRAS-INDEX*******************************/
.main-nosotras {
  margin-bottom: 20px;
  color: $color3;
}
#ourstory {
  background-color: #fbdcdd;
  padding-top: 10%;
  h1 {
    font-family: "Bungee Inline", cursive;
    text-align: center;
  }
  p {
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 40px;
  }
}
/***********************MAIN-PRODUCTOS-INDEX*******************************/
.catalogo {
  background-color: $color7;
  color: white;
  .fondo {
    transition: width 6s, height 6s, transform 6s;
    h1 {
      font-family: "Bungee Inline", cursive;
    }
  }
  .color2 {
    background-color: $color8;
    .card:hover {
      transform: scale(1.05, 1.05);
    }
    .card-body {
      background-color: $color7;
      p {
        font-size: 20px;
      }
    }
  }
}
/************MEDIA QUERY - RESPONSIVE**************/
/************CELULAR**************/
@media (max-width: 400px) {
  .checkbtn {
    display: block;
  }
  nav ul {
    position: absolute;
    width: 50%;
    height: 50vh;
    background: #2c3e50;
    top: 120px;
    left: -100%;
    text-align: left;
    transition: all 0.5s;
    li {
      display: block;
      margin: 50px 0;
      line-height: 40px;
      a {
        font-size: 20px;
      }
    }
  }
  #check:checked ~ ul {
    left: 0;
  }
  .main-index {
    .contenido {
      margin-top: 12%;
      margin-left: -50px;
      p {
        display: none;
      }
    }
    .boton .btn {
      @include btn-nosotras(absolute, 18%, 15%, 20px);
    }
  }
  iframe {
    width: 340px;
    height: 200px;
  }
}

/************HASTA TABLET***********/
@media only screen and (min-width: 401px) and (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  nav ul {
    position: absolute;
    width: 50%;
    height: 50vh;
    background: #2c3e50;
    top: 120px;
    left: -100%;
    text-align: left;
    transition: all 0.5s;
    li {
      display: block;
      margin: 50px 0;
      line-height: 40px;
      a {
        font-size: 20px;
      }
    }
  }
  #check:checked ~ ul {
    left: 0;
  }
  .main-index {
    .boton .btn {
      @include btn-nosotras(absolute, 35%, 20%, 20px);
    }
  }
}
