/************HASTA TABLET***********/
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  nav ul {
    position: absolute;
    width: 50%;
    height: 50vh;
    background: #2c3e50;
    top: 120px;
    left: -100%;
    text-align: left;
    transition: all 0.5s;
    li {
      display: block;
      margin: 50px 0;
      line-height: 40px;
      a {
        font-size: 20px;
      }
    }
  }
}
#check:checked ~ ul {
  left: 0;
}
/************CELULAR**************/
@media (max-width: 400px) {
  .main-index p {
    display: none;
  }
  iframe {
    width: 340px;
    height: 200px;
  }
}
