/***********************NAV*******************************/
nav {
  background-color: #3d2314;
  ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    a {
      color: white;
      text-decoration: none;
      padding: 1rem;
      display: block;
      &:hover {
        background-color: #f1dab1;
        color: black;
        font-weight: bold;
      }
    }
  }
}
