/***********************RECETAS*******************************/
.recetas {
  background-color: $color13;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  #cabecera3 {
    background-color: $color5;
    font-family: "Akaya Telivigala", cursive;
    color: white;
  }
  h3 {
    color: $color3;
    font-size: 25px;
    margin: 12px;
  }
}
