$color1: #99d8df;
$color2: #f7bd01;
$color3: #3d2314;
$color4: #fd657e;
$color5: #f56032;
$color6: #01b7e7;
$color7: #f04f56;
$color8: #f9c5c7;
$color9: #decbe1;
$color10: #f8da67;
$color11: #7343bc;
$color12: #d5bdd9;
$color13: #f1dab1;
.html-1,
.html-2,
.html-4,
.html-3,
.html-5 {
   background: $color1;
}
/**************FONT FAMILY*****************/
a,
p {
  font-family: "Akaya Telivigala", cursive;
}
h1 {
  font-family: "Bungee Inline", cursive;
}
h2,
h3,
h4,
h5 {
  font-family: "Lobster", cursive;
}

/**************MIXIN*****************/
@mixin cabecera-title($bgc) {
  background-color: $bgc;
  color: white;
}
@mixin btn-nosotras($abs, $ml, $mt, $fsize) {
  position: $abs;
  margin-left: $ml;
  margin-top: $mt;
  font-size: $fsize;
}
