* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.html-1,
.html-2,
.html-3,
.html-4 {
  background: #99d8df;
}

/**************FONT FAMILY*****************/
a,
p {
  font-family: "Akaya Telivigala", cursive;
}

h1 {
  font-family: "Bungee Inline", cursive;
}

h2,
h3,
h4,
h5 {
  font-family: "Lobster", cursive;
}

/**************MIXIN*****************/
/***********************NAV*******************************/
nav {
  background-color: #3d2314;
  font-family: "Akaya Telivigala", cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
}

nav ul {
  float: right;
}

nav ul li {
  list-style: none;
  display: inline-block;
  line-height: 80px;
}

nav ul a {
  color: white;
  text-decoration: none;
  padding: 1rem;
  font-size: 20px;
}

nav ul a:hover {
  background-color: #f1dab1;
  color: black;
  font-weight: bold;
}

.checkbtn {
  color: white;
  line-height: 80px;
  margin-left: 40px;
  display: none;
  font-size: 30px;
}

#check {
  display: none;
}

/***********************MAIN-INDEX*******************************/
.main-index {
  background-color: #f7bd01;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-index .contenido {
  margin-top: 12%;
}

.main-index .contenido h1 {
  margin-left: 50px;
  font-size: 40px;
  line-height: 60px;
  color: #3d2314;
  width: 50%;
}

.main-index .contenido h1 .titulo {
  color: white;
  font-size: 3.5rem;
}

.main-index .contenido p {
  color: #3d2314;
  font-size: 22px;
  line-height: 30px;
  width: 100%;
  text-align: justify;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-index .boton .btn {
  position: absolute;
  margin-left: 17%;
  margin-top: 10%;
  font-size: 20px;
}

.main-index .btn {
  border: #3d2314 2px solid;
  border-radius: 50px;
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #4d3e2b;
  letter-spacing: 4px;
  text-decoration: none;
  overflow: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.main-index .btn:hover {
  background-color: #f9c5c7;
  -webkit-box-shadow: 0 0 10px #f9c5c7, 0 0 40px #f9c5c7, 0 0 80px #f9c5c7;
          box-shadow: 0 0 10px #f9c5c7, 0 0 40px #f9c5c7, 0 0 80px #f9c5c7;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

/***********************MAIN-NOSOTRAS-INDEX*******************************/
.main-nosotras {
  margin-bottom: 20px;
  color: #3d2314;
}

#ourstory {
  background-color: #fbdcdd;
  padding-top: 10%;
}

#ourstory h1 {
  font-family: "Bungee Inline", cursive;
  text-align: center;
}

#ourstory p {
  text-align: justify;
  padding-top: 10px;
  padding-bottom: 40px;
}

/***********************MAIN-PRODUCTOS-INDEX*******************************/
.catalogo {
  background-color: #f04f56;
  color: white;
}

.catalogo .fondo {
  -webkit-transition: width 6s, height 6s, -webkit-transform 6s;
  transition: width 6s, height 6s, -webkit-transform 6s;
  transition: width 6s, height 6s, transform 6s;
  transition: width 6s, height 6s, transform 6s, -webkit-transform 6s;
}

.catalogo .fondo h1 {
  font-family: "Bungee Inline", cursive;
}

.catalogo .color2 {
  background-color: #f9c5c7;
}

.catalogo .color2 .card:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.catalogo .color2 .card-body {
  background-color: #f04f56;
}

.catalogo .color2 .card-body p {
  font-size: 20px;
}

/************MEDIA QUERY - RESPONSIVE**************/
/************CELULAR**************/
@media (max-width: 400px) {
  .checkbtn {
    display: block;
  }
  nav ul {
    position: absolute;
    width: 50%;
    height: 50vh;
    background: #2c3e50;
    top: 120px;
    left: -100%;
    text-align: left;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 40px;
  }
  nav ul li a {
    font-size: 20px;
  }
  #check:checked ~ ul {
    left: 0;
  }
  .main-index .contenido {
    margin-top: 12%;
    margin-left: -50px;
  }
  .main-index .contenido p {
    display: none;
  }
  .main-index .boton .btn {
    position: absolute;
    margin-left: 18%;
    margin-top: 15%;
    font-size: 20px;
  }
  iframe {
    width: 340px;
    height: 200px;
  }
}

/************HASTA TABLET***********/
@media only screen and (min-width: 401px) and (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  nav ul {
    position: absolute;
    width: 50%;
    height: 50vh;
    background: #2c3e50;
    top: 120px;
    left: -100%;
    text-align: left;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 40px;
  }
  nav ul li a {
    font-size: 20px;
  }
  #check:checked ~ ul {
    left: 0;
  }
  .main-index .boton .btn {
    position: absolute;
    margin-left: 35%;
    margin-top: 20%;
    font-size: 20px;
  }
}

/***********************HERO (CATALOGO)*******************************/
.hero {
  font-size: 15px;
  background-color: #f9c5c7;
}

.hero div #cabecera {
  background-color: #f04f56;
  font-family: "Akaya Telivigala", cursive;
  color: white;
  font-size: 500px;
}

.hero .card {
  border-radius: 10px;
}

.hero .card a {
  border: 2px white solid;
  color: white;
}

.hero .card:hover {
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
}

.hero .card .card-body {
  background-color: #f04f56;
  color: white;
}

.banner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner #cabecera2 {
  background-color: #7343bc;
  color: white;
}

.banner h2 {
  font-size: 30px;
}

/***********************RECETAS*******************************/
.recetas {
  background-color: #f1dab1;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.recetas #cabecera3 {
  background-color: #f56032;
  font-family: "Akaya Telivigala", cursive;
  color: white;
}

.recetas h3 {
  color: #3d2314;
  font-size: 25px;
  margin: 12px;
}

/***********************BLOG*******************************/
.blog {
  background-color: #fd657e;
  color: white;
}

.blog .parrafo {
  text-align: center;
  margin-top: 5%;
  font-size: 20px;
}

/***********************FOOTER*******************************/
footer {
  background-color: #3d2314;
  height: 65px;
}

footer section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-izquierdo {
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-derecho {
  width: 50%;
  padding-top: 13px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

footer ul a {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  display: block;
}

footer ul a:hover {
  background-color: #f1dab1;
  color: black;
  font-weight: bold;
}
/*# sourceMappingURL=estilo.css.map */