* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "variables";

a,
p {
  font-family: "Akaya Telivigala", cursive;
}
h1 {
  font-family: "Bungee Inline", cursive;
}
h2,
h3,
h4,
h5 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
@import "nav-index";
@import "main-index";
@import "hero-index";
@import "banner-index";
@import "recetas-index";
/***********************BLOG*******************************/
.blog {
  background-color: $color4;

  .parrafo {
    margin-top: 5%;
    font-size: 20px;
    color: white;
  }
}
/***********************FOOTER*******************************/
footer {
  background-color: #3d2314;
  font-family: "Akaya Telivigala", cursive;
}
footer section {
  display: flex;
}
.footer-izquierdo {
  width: 50%;
  padding: 10px;
}
.footer-derecho {
  width: 50%;
  padding: 10px;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
footer ul a {
  color: white;
  text-decoration: none;
  padding: 1rem;
  display: block;
}
footer ul a:hover {
  background-color: #f1dab1;
  color: black;
  font-weight: bold;
}
