* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import "variables";
@import "nav-index";
@import "main-index";
@import "hero-index";
@import "banner-index";
@import "recetas-index";
@import "blog-index";
@import "footer-index";
